$TowerGray: #a8b9c0;
$BigStone: #1A2940;
$AquamarineBlue: #70DDDB;
$RadicalRed: #ff3150;
$YellowSea: #ffb10c;
$Turquoise:#33D1CC;



$fontfamily : 'Roboto', sans-serif;
$bg: $RadicalRed;
$color: $YellowSea;
$radius : 19px;
$fw : 400;
$fs : 15px;
$mb : 58px;



